<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intermediate Messaging App</title>
    <link rel="stylesheet" href="style.css" />
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="room.js" defer></script>
</head>

<body>
    <main>
        <h1 class="heading">Create or Join Rooms</h1>
        <div class="room-container">
            <div class="room-box">
                {{#each rooms}}
                <div>
                    <div class="room">{{ this }}</div>
                    <a href="/{{ this }}" class="join-room">JOIN</a>
                </div>
                 {{/each}}
            </div>
            <form action="/" method="POST" id="roomForm" class="roomForm">
                <input name="room" id="room" type="text" placeholder="Create 0your own room" autocomplete="off" required />
                <input type="submit" value="Submit" />
            </form>
        </div>
    </main>
    <footer>CopyRight &copy; All Rights Reserved</footer>
</body>

</html>