<!DOCTYPE hbs>
<hbs lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Intermediate Messaging App</title>
        <link rel="stylesheet" href="style.css" />
        <script defer src="http://localhost:5000/socket.io/socket.io.js"></script>
        <script defer src="client.js"></script>
    </head>

    <body>
        <main>
            <h1 class="heading">BiT Messaging App</h1>
            <div class="chat-container">
                <div class="chat-header">
                    <!-- <img src="img/logo.svg" alt="BiTApp" /> -->
                    <h2>BiTChatApp</h2>
                    <div class="connection-meter">
                        <button class="connect-btn">Connect</button>
                        <button class="disconnect-btn">Disconnect</button>
                    </div>
                </div>
                <div class="message-box"></div>
                <form action="" id="form">
                    <input type="text" placeholder="Enter the Message" />
                    <input type="submit" value="Submit" />
                </form>
            </div>
        </main>
        <footer>CopyRight &copy;. All Rights Reserved</footer>
    </body>
</hbs>